node_modules
.DS_Store
dist
dist-ssr
*.local
.idea
smartmontools.md
zsh_history.md
/*.md
!/changelog.md
/package-lock.json
origin_theme.css
.vitepress/cache
posts/trash/draft.js
posts/trash/draft.mjs
posts/trash/sleep.mjs
posts/trash/draft.md
posts/trash/draft.html
